*.iml
*.pyc
__pycache__
.DS_Store
garage_control_smart_phone/android/GarageControl/bin/
garage_control_smart_phone/android/GarageControl/gen/
garage_control_smart_phone/android/GarageControl_Studio/.gradle
garage_control_smart_phone/android/GarageControl_Studio/.idea
garage_control_smart_phone/android/GarageControl_Studio/local.properties
garage_control_smart_phone/android/GarageControl_Studio/app/.externalNativeBuild
garage_control_smart_phone/android/GarageControl_Studio/app/build
garage_control_smart_phone/windows_phone/GarageControl.*.suo
garage_control_smart_phone/windows_phone/GarageControl/Bin/
garage_control_smart_phone/windows_phone/GarageControl/obj/
power_outlet_control_smart_phone/android/PowerOutletControl/bin/
power_outlet_control_smart_phone/android/PowerOutletControl/gen/
power_outlet_control_smart_phone/android/PowerOutletControl_Studio/.gradle
power_outlet_control_smart_phone/android/PowerOutletControl_Studio/.idea
power_outlet_control_smart_phone/android/PowerOutletControl_Studio/local.properties
power_outlet_control_smart_phone/android/PowerOutletControl_Studio/app/.externalNativeBuild
power_outlet_control_smart_phone/android/PowerOutletControl_Studio/app/build
power_outlet_control_smart_phone/windows_phone/PowerOutletControl.*.suo
power_outlet_control_smart_phone/windows_phone/PowerOutletControl/Bin/
power_outlet_control_smart_phone/windows_phone/PowerOutletControl/obj/
