garage_control_smart_phone/android/GarageControl/bin/
garage_control_smart_phone/windows_phone/GarageControl.*.suo
garage_control_smart_phone/windows_phone/GarageControl/Bin/
garage_control_smart_phone/windows_phone/GarageControl/obj/
